@tailwind base;
@tailwind components;
@tailwind utilities;

#star{
  animation: starRotate 6s linear infinite reverse;
}

#waves{
  animation: wavesRotate 2s ease-in-out infinite alternate-reverse;
}

@keyframes starRotate {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes wavesRotate {
  to{
    transform: rotate(30deg);
  }
}